.button-article {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 594px;
    height: 109px;
    border-radius: 8px;
    background-color: #F0EFEB;
    margin-top: 48px;
}
.button-section {
    width: 340px;
    height: 52px;
}
.button-section h3 {
    font-family: "Inter", serif;
    font-weight: 500;
    font-size: 18px;
    color: #141413;
}
.button-section p {
    font-family: "Inter", serif;
    font-weight: 400;
    font-size: 14px;
    color: #6B7280;
    margin-top: 8px;
}
.button-article button {
    width: 115px;
    height: 38px;
    border-radius: 6px;
    padding: 9px 17px;
    background-color: #D17557;
}