.result-article {
    width: 594px;
    height: 1614px;
    margin-top: 60px;
}
.result-article h2 {
    font-family: "Inter", serif;
    font-weight: 600;
    font-size: 30px;
    color: #141413;
    margin-bottom: 30px;
}
.result-article p {
    font-family: "Inter", serif;
    font-weight: 400;
    font-size: 18px;
    color: #475467;
    margin-bottom: 50px;
}
.result-article h3 {
    font-family: "Inter", serif;
    font-weight: 700;
    font-size: 18px;
    color: #141413;
    margin-bottom: 20px;
}

.result-article ul {
    margin-left: 20px;
}
.result-article ul li {
    font-family: "Inter", serif;
    font-weight: 400;
    font-size: 18px;
    color: #475467;
    margin-bottom: 20px;
    margin-left: 20px;
}
.result-article ol {
    margin-left: 20px;
}
.result-article ol li {
    font-family: "Inter", serif;
    font-weight: 400;
    font-size: 18px;
    color: #475467;
    margin-bottom: 20px;
    margin-left: 20px;
}